.vector-1{
    animation: vector-1 12s ease infinite alternate;
    transform-origin: center center;
    transform-box: fill-box;
}
@keyframes vector-1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.vector-2{
    animation: vector-2 12s ease infinite alternate;
    transform-origin: center center;
    transform-box: fill-box;
}
@keyframes vector-2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(60deg);
    }
}


.vector-5{
    animation: vector-5 12s ease infinite alternate;
    transform-origin: center center;
    transform-box: fill-box;
}
@keyframes vector-5{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

.vector-4{
    animation: vector-4 12s ease infinite alternate;
    transform-origin: center center;
    transform-box: fill-box;
}
@keyframes vector-4{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

.about-blob3{
    animation: about-blob3 12s ease infinite alternate;
    transform-origin: center center;
    transform-box: fill-box;
}
@keyframes about-blob3{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

.about-blob2{
    animation: about-blob2 12s ease infinite alternate;
    transform-origin: center center;
    transform-box: fill-box;
}
@keyframes about-blob2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

.about-blob1{
    animation: about-blob1 12s ease infinite alternate;
    transform-origin: center center;
    transform-box: fill-box;
}
@keyframes about-blob1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(270deg);
    }
}

.about-line1{
    animation: about-line1 7s ease infinite alternate;
}

@keyframes about-line1{
    0%{
        stroke-dasharray: 0 500;
    }
    100%{
        stroke-dasharray: 500 0;
    }
}

.about-line2{
    animation: about-line2 9s ease infinite alternate;
}

@keyframes about-line2{
    0%{
        stroke-dasharray: 0 300;
    }
    100%{
        stroke-dasharray: 300 0;
    }
}

.square1{
    animation: square1 7s ease infinite alternate;
}

@keyframes square1{
    0%{
        stroke-dasharray: 0 420;
    }
    100%{
        stroke-dasharray: 420 0;
    }
}

.square2{
    stroke-dasharray: 20 20;
    animation: square2 7s ease infinite alternate;
}

@keyframes square2{
    0%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: 400;
    }
}


.circle1{
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation: circle1 3s ease infinite alternate;
}

@keyframes circle1{
    0%,10%{
        transform: rotate(0deg);
    }
    50%{
        transform: translate3d(24px,28px,0);
    }
    90%,100%{
        transform: translate3d(24px,0px,0);
    }
}

.circle2{
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation: circle2 3s ease infinite alternate;
}

@keyframes circle2{
    0%,10%{
        transform: translate3d(0,0,0);
        //stroke-dasharray: 0 420;
    }
    50%{
        transform: translate3d(-24px,-28px,0);
    }
    90%,100%{
        transform: translate3d(-24px,-0px,0);
        //stroke-dasharray: 420 0;
    }
}


.triangle1{
    animation: triangle1 2s ease-in-out infinite alternate;
}

@keyframes triangle1{
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(0,18px,0);
    }
}

.triangle2{
    animation: triangle2 2s ease-in-out 1s infinite alternate;
}

@keyframes triangle2{
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(0,18px,0);
    }
}